* {
    padding: 0;
    margin: 0;
}

body {background: #567B96;}

@font-face {
    font-family: 'Comic Sans MS';
    src: url("2006.ttf");
}

/*--------------------------top-container----------------------------*/

@media (max-width: 10099.98px) {
    .top-container {
        width: 980px;
        height: 255px;
        margin: 50%;
        margin-top: 20px;
        transform: translate(-50%, 0%);
        background: #0E1821;
        border-radius: 20px;
    }

    .container {display: none;}

    .shine-button {
        text-decoration: none;
        display: inline-block;
        padding: 4px 20px;
        position: relative;
        background: #fff;
        border-radius: 80px;
        font-family: 'Arial', sans-serif;
        font-size: 15px;

        color: #000;
    }

    .b1 {
        margin: 20px 0px;
        margin-left: 39px;
        background: #FFDE5F;
    }
    
    .b2,
    .b4,
    .b6 {
        margin: 0px 20px;
    }

    .shine-button:hover {background: #FFDE5F;}

    .menu ul li:hover {background: #FFDE5F;}

    .menu:hover ul {visibility: visible;}
    
    .fox {
        margin-top: -30px;
        margin-left: 110px;

    }
    
    .name-site {
        width: 608px;
        height: 80px;
        margin-top: -150px;
        margin-left: 390px;
        border-radius: 10px 30px 10px 30px;
        font-family: 'Comic Sans MS', sans-serif;
        font-size: 39px;
        font-weight: bold;
        background: #fff;
        padding-left: 20px;
        padding-top: 10px;
    }
}

@media (max-width: 1699.98px) {
    .top-container {
        width: 980px;
        height: 255px;
        margin: 50%;
        margin-top: 25px;
        transform: translate(-50%, 0%);
        background: #0E1821;
        border-radius: 20px;
    }

    .shine-button {
        text-decoration: none;
        display: inline-block;
        padding: 4px 20px;
        position: relative;
        background: #fff;
        border-radius: 80px;
        font-family: 'Arial', sans-serif;
        font-size: 15px;
        color: #000;
    }
    
    .b1 {
        margin: 20px 0px;
        margin-left: 39px;
        background: #FFDE5F;
    }
    
    .b2,
    .b4,
    .b6 {
        margin: 0px 20px;
    }
    
    .shine-button:hover {
        background: #FFDE5F;
        color: #000;
    }
    
    .fox {
        margin-top: -30px;
        margin-left: 110px;
    }
    
    .name-site {
        width: 608px;
        height: 80px;
        margin-top: -150px;
        margin-left: 390px;
        border-radius: 10px 30px 10px 30px;
        font-family: 'Comic Sans MS', sans-serif;
        font-size: 39px;
        font-weight: bold;
        background: #fff;
        padding-left: 20px;
        padding-top: 10px;
    }
}

@media (max-width: 1399.98px) {
    .top-container {
        width: 880px;
        height: 255px;
        margin: 50%;
        margin-top: 25px;
        transform: translate(-50%, 0%);
        background: #0E1821;
        border-radius: 20px;
    }

    .shine-button {
        text-decoration: none;
        display: inline-block;
        padding: 4px 15px;
        position: relative;
        background: #fff;
        border-radius: 80px;
        font-family: 'Arial', sans-serif;
        font-size: 15px;
        color: #000;
    }
    
    .b1 {
        margin: 20px 0px;
        margin-left: 30px;
        background: #FFDE5F;
    }
    
    .b2,
    .b4,
    .b6 {
        margin: 0px 15px;
    }
    
    .shine-button:hover {
        background: #FFDE5F;
        color: #000;
    }
    
    .fox {
        margin-top: -30px;
        margin-left: 110px;
    }
    
    .name-site {
        width: 528px;
        height: 80px;
        margin-top: -150px;
        margin-left: 370px;
        border-radius: 10px 30px 10px 30px;
        font-family: 'Comic Sans MS', sans-serif;
        font-size: 39px;
        font-weight: bold;
        background: #fff;
        padding-left: 20px;
        padding-top: 10px;
    }
}

@media (max-width: 1199.98px) {
    .top-container {
        width: 780px;
        height: 255px;
        margin: 50%;
        margin-top: 25px;
        transform: translate(-50%, 0%);
        background: #0E1821;
        border-radius: 20px;
    }

    .shine-button {
        text-decoration: none;
        display: inline-block;
        padding: 3px 10px;
        position: relative;
        background: #fff;
        border-radius: 80px;
        font-family: 'Arial', sans-serif;
        font-size: 15px;
        color: #000;
    }
    
    .b1 {
        margin: 20px 0px;
        margin-left: 23px;
        background: #FFDE5F;
    }
    
    .b2,
    .b4,
    .b6 {
        margin: 0px 10px;
    }
    
    .shine-button:hover {
        background: #FFDE5F;
        color: #000;
    }
    
    .fox {
        margin-top: -30px;
        margin-left: 110px;
    }
    
    .name-site {
        width: 428px;
        height: 80px;
        margin-top: -150px;
        margin-left: 370px;
        border-radius: 10px 30px 10px 30px;
        font-family: 'Comic Sans MS', sans-serif;
        font-size: 39px;
        font-weight: bold;
        background: #fff;
        padding-left: 20px;
        padding-top: 10px;
    }
}

@media (max-width: 991.98px) {
    .top-container {
        width: 680px;
        height: 250px;
        margin: 50%;
        margin-top: 25px;
        transform: translate(-50%, 0%);
        background: #0E1821;
        border-radius: 20px;
    }

    .shine-button {
        text-decoration: none;
        display: inline-block;
        padding: 2px 8px;
        position: relative;
        background: #fff;
        border-radius: 80px;
        font-family: 'Arial', sans-serif;
        font-size: 14px;
        color: #000;
    }
    
    .b1 {
        margin: 20px 0px;
        margin-left: 17px;
        background: #FFDE5F;
    }
    
    .b2,
    .b4,
    .b6 {
        margin: 0px 5px;
    }
    
    .shine-button:hover {
        background: #FFDE5F;
        color: #000;
    }
    
    .fox {
        margin-top: -30px;
        margin-left: 75px;
    }
    
    .name-site {
        width: 390px;
        height: 80px;
        margin-top: -150px;
        margin-left: 310px;
        border-radius: 10px 30px 10px 30px;
        font-family: 'Comic Sans MS', sans-serif;
        font-size: 39px;
        font-weight: bold;
        background: #fff;
        padding-left: 20px;
        padding-top: 10px;
    }
}

@media (max-width: 787.98px) {
    .top-container {
        width: 580px;
        height: 255px;
        margin: 50%;
        margin-top: 25px;
        transform: translate(-50%, 0%);
        background: #0E1821;
        border-radius: 20px;
    }

    .shine-button {
        text-decoration: none;
        display: inline-block;
        padding: 3px 8px;
        position: relative;
        background: #fff;
        border-radius: 80px;
        font-family: 'Arial', sans-serif;
        font-size: 12px;
        color: #000;
    }
    
    .b1 {
        margin: 15px 0px;
        margin-left: 8px;
        background: #FFDE5F;
    }
    
    .b2,
    .b4,
    .b6 {
        margin: 0px 3px;
    }
    
    .shine-button:hover {
        background: #FFDE5F;
        color: #000;
    }
    
    .fox {
        margin-top: -20px;
        margin-left: 70px;
    }
    
    .name-site {
        width: 320px;
        height: 80px;
        margin-top: -150px;
        margin-left: 280px;
        border-radius: 10px 30px 10px 30px;
        font-family: 'Comic Sans MS', sans-serif;
        font-size: 39px;
        font-weight: bold;
        background: #fff;
        padding-left: 20px;
        padding-top: 10px;
    }
}

@media (max-width: 695.98px) {
    .top-container {
        width: 480px;
        height: 320px;
        margin: 50%;
        margin-top: -25px;
        transform: translate(-50%, 0%);
        background: #0E1821;
        border-radius: 20px;
    }

    .container {display: inline;}

    .shine-button {display: none;}

    .fox {
        margin-top: 0px;
        margin-left: 50%;
        transform: translate(-50%, 0%);
    }
    
    .name-site {
        width: 390px;
        height: 70px;
        margin-top: 0px;
        margin-left: 50%;
        transform: translate(-50%, -5%);
        border-radius: 10px 30px 10px 30px;
        font-family: 'Comic Sans MS';
        font-size: 39px;
        font-weight: bold;
        background: #fff;
        padding-left: 20px;
        padding-top: 5px;
    }

    .lower label{
        width: 60px;
        height: 60px;
        position: fixed;
        left: 15px;
        top: 15px;
        border-radius: 80px;
        z-index: 300;
    }

    .menu-mobile {
        width: 60px;
        height: 60px;
        position: fixed;
        left: 15px;
        top: 15px;
        background: #FFDE5F;
        border-radius: 80px;
        z-index: 200;
    }

    .menu-mobile span,
    .menu-mobile span::before,
    .menu-mobile span::after {
        position: fixed;
        top: 45px; 
        margin-top: -1px;
        left: 43px; 
        margin-left: -10px;
        border-radius: 20px;
        width: 25px;
        height: 3px;
        z-index: 300;
        background-color: #000;
    }

    .menu-mobile span::before,
    .menu-mobile span::after {
        content: '';
        display: block;
        transition: 0.2s;
    }

    .menu-mobile span::before {transform: translateY(-9px);}

    .menu-mobile span::after {transform: translateY(9px);}

    #op:checked~.menu-mobile span {
        height: 0%;
        transition: 0.1s;
    }

    #op:checked~.menu-mobile span:before {
        transform: rotate(-45deg);
        width: 25px;
    }

    #op:checked~.menu-mobile span:after {
        transform: rotate(45deg);
        width: 25px;
    }
    
    input{display: none;}
    
    .lower label:hover {cursor: pointer;}
    
    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.9);
        z-index: 100;
    }
    
    .overlay label {
        width: 60px;
        height: 60px;
        position: absolute;
        content: '';
        left: 20px;
        top: 20px;
        border-radius: 80px;
        z-index: 100;
        cursor: pointer;
    }
    
    .overlay nav {
        text-align: center;
        position: relative;
        top: 50%;
        height: 30%;
        font-size: 20px;
        transform: translateY(-50%);
    }
    
    .overlay ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        height: 100%;
        position: relative;
    }
    
    .overlay ul li {
        display: block;
        height: 20%;
        height: calc(100% / 6);
        min-height: 54px;
    }
    
    .overlay ul li a {
        font-weight: 300;
        color: #fff;
        text-decoration: none;
        transition: color 0.2s;
        font-family: 'Arial';
        text-transform: uppercase;
    }

    .overlay ul li .i1 {color: #FFDE5F;}
    
    .overlay ul li a:hover,
    .overlay ul li a:focus {color: #FFDE5F;}
    
    .lower~.overlay-hugeinc{
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s, visibility 0s 0.5s;
    }
    
    #op:checked~.overlay-hugeinc{
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s;
    }
    
    .overlay-hugeinc nav ul {
        opacity: 0.4;
        transform: translateY(-25%) rotateX(35deg);
        transition: transform 0.5s, opacity 0.5s;
    }
    
    #op:checked~.overlay-hugeinc nav ul {
        opacity: 1;
        transform: rotateX(0deg);
    }
    
    #op:not(:checked)~.overlay-hugeinc nav ul {transform: translateY(25%) rotateX(-35deg);}
}

@media (max-width: 505.98px) {
    .top-container {
        width: 100%;
        height: 320px;
        background: #0E1821;
        border-radius: 20px;
    }

    .shine-button {display: none;}

    .fox {
        margin-top: 0px;
        margin-left: 50%;
        transform: translate(-50%, 0%);
    }
    
    .name-site {
        width: 390px;
        height: 70px;
        margin-top: 0px;
        margin-left: 50%;
        transform: translate(-50%, -5%);
        border-radius: 10px 30px 10px 30px;
        font-family: 'Comic Sans MS';
        font-size: 39px;
        font-weight: bold;
        background: #fff;
        padding-left: 20px;
        padding-top: 5px;
    }
}

@media (max-width: 399.98px) {
    .top-container {
        width: 100%;
        height: 320px;
        background: #0E1821;
        border-radius: 20px;
    }

    .fox {
        margin-top: 0px;
        margin-left: 50%;
        transform: translate(-50%, 0%);
    }
    
    .name-site {
        width: 64%;
        height: 60px;
        margin-top: 0px;
        margin-left: 50%;
        transform: translate(-50%, -5%);
        border-radius: 10px 30px 10px 30px;
        font-family: 'Comic Sans MS';
        font-size: 35px;
        font-weight: bold;
        background: #fff;
        padding-left: 5%;
        padding-top: 5px;
    }
}

/*--------------------------cent-container----------------------------*/

@media (max-width: 10099.98px) {
    .cent-container {
        width: 980px;
        margin: 50%;
        transform: translate(-50%, 0%);
        background: #0E1821;
        border-radius: 20px;
    }
}

@media (max-width: 1699.98px) {
    .cent-container {
        width: 980px;
        margin: 50%;
        transform: translate(-50%, 0%);
        background: #0E1821;
        border-radius: 20px;
    }
}

@media (max-width: 1399.98px) {
    .cent-container {
        width: 880px;
        /*height: 2493px;*/
        transform: translate(-50%, 0%);
        background: #0E1821;
        border-radius: 20px;
    }
}

@media (max-width: 1199.98px) {
    .cent-container {
        width: 780px;
        /*height: 2646px;*/
        transform: translate(-50%, 0%);
        background: #0E1821;
        border-radius: 20px;
    }
}

@media (max-width: 991.98px) {
    .cent-container {
        width: 680px;
        transform: translate(-50%, 0%);
        background: #0E1821;
        border-radius: 20px;
    }
}

@media (max-width: 787.98px) {
    .cent-container {
        width: 580px;
        transform: translate(-50%, 0%);
        background: #0E1821;
        border-radius: 20px;
    }
}

@media (max-width: 695.98px) {
    .cent-container {
        width: 480px;
        transform: translate(-50%, 0%);
        background: #0E1821;
        border-radius: 20px;
    }
}

@media (max-width: 505.98px) {
    .cent-container {
        width: 100%;
        background: #0E1821;
        border-radius: 20px;
    }
}

@media (max-width: 399.98px) {
    .cent-container {
        width: 100%;
        /*height: 7000px;*/
        background: #0E1821;
        border-radius: 20px;
    }
}

/*--------------------------bot-container----------------------------*/

@media (max-width: 10099.98px) {
    .bot-container {
        width: 980px;
        height: 100px;
        margin: 50%;
        transform: translate(-50%, 10%);
        background: #0E1821;
        border-radius: 20px;
        text-align: center;
    }

    .cop {
        font-family: 'Arial', sans-serif;
        font-size: 15px;
        color: #8293A1;
        padding-top: 20px;
    }


    .i1, .i2 {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 1699.98px) {
    .bot-container {
        width: 980px;
        height: 100px;
    }

    .cop {
        font-family: 'Arial', sans-serif;
        font-size: 15px;
        color: #8293A1;
        padding-top: 20px;
    }
    
    .i1, .i2 {
        width: 30px;
        height: 30px;
        margin: 0px;
    }
}

@media (max-width: 1399.98px) {
    .bot-container {
        width: 880px;
        height: 100px;
    }

    .cop {
        font-family: 'Arial', sans-serif;
        font-size: 15px;
        color: #8293A1;
        padding-top: 20px;
    }
    
    .i1, .i2 {
        width: 30px;
        height: 30px;
        margin: 0px;
    }
}

@media (max-width: 1199.98px) {
    .bot-container {
        width: 780px;
        height: 100px;
    }
    
    .cop {
        font-family: 'Arial', sans-serif;
        font-size: 15px;
        color: #8293A1;
        padding-top: 20px;
    }
    
    .i1, .i2 {
        width: 30px;
        height: 30px;
        margin: 0px;
    }
}

@media (max-width: 991.98px) {
    .bot-container {
        width: 680px;
        height: 100px;
    }

    .cop {
        font-family: 'Arial', sans-serif;
        font-size: 15px;
        color: #8293A1;
        padding-top: 20px;
    }
    
    .i1, .i2 {
        width: 30px;
        height: 30px;
        margin: 0px;
    }
}

@media (max-width: 787.98px) {
    .bot-container {
        width: 580px;
        height: 120px;
    }

    .cop {
        margin-left: 15px;
        margin-right: 15px;
        font-family: 'Arial', sans-serif;
        font-size: 15px;
        color: #8293A1;
        padding-top: 20px;
    }
    
    .i1, .i2 {
        width: 30px;
        height: 30px;
        margin: 0px;
    }
}

@media (max-width: 695.98px) {
    .bot-container {
        width: 480px;
        height: 120px;
        transform: translate(-50%, 10%);
    }

    .cop {
        margin-left: 15px;
        margin-right: 15px;
        font-family: 'Arial', sans-serif;
        font-size: 15px;
        color: #8293A1;
        padding-top: 20px;
    }

    .network {
        margin-top: 30px;
        margin-left: 50%;
        transform: translate(-50%, -50%);
    }

    .i1, .i2 {
        width: 30px;
        height: 30px;
        margin: 0px;
    }
}

@media (max-width: 505.98px) {
    .bot-container {
        width: 100%;
        height: 120px;
    }

    .cop {
        font-family: 'Arial', sans-serif;
        font-size: 15px;
        color: #8293A1;
        padding-top: 20px;
    }
}