* {
    padding: 0;
    margin: 0;
}

body {background: #567B96;}

@font-face {
    font-family: 'Comic Sans MS';
    src: url("2006.ttf");
}

/*--------------------------top-container----------------------------*/

@media (max-width: 10099.98px) {
    .top-container {
        width: 980px;
        height: 255px;
        margin: 50%;
        margin-top: 20px;
        transform: translate(-50%, 0%);
        background: #0E1821;
        border-radius: 20px;
    }

    .container {display: none;}

    .shine-button {
        text-decoration: none;
        display: inline-block;
        padding: 4px 20px;
        position: relative;
        background: #fff;
        border-radius: 80px;
        font-family: 'Arial', sans-serif;
        font-size: 15px;
        color: #000;
    }

    .b1 {
        margin: 20px 0px;
        margin-left: 39px;
    }

    .b3 {background: #FFDE5F;}

    .b2,
    .b4,
    .b6 {margin: 0px 20px;}

    .shine-button:hover {
        background: #FFDE5F;
        color: #000;
    }

    .menu ul li:hover {background: #FFDE5F;}

    .menu:hover ul {visibility: visible;}

    .fox {
        margin-top: -30px;
        margin-left: 110px;

    }

    .name-site {
        width: 608px;
        height: 80px;
        margin-top: -150px;
        margin-left: 390px;
        border-radius: 10px 30px 10px 30px;
        font-family: 'Comic Sans MS', sans-serif;
        font-size: 39px;
        font-weight: bold;
        background: #fff;
        padding-left: 20px;
        padding-top: 10px;
    }
}

@media (max-width: 1699.98px) {
    .top-container {
        width: 980px;
        height: 255px;
        margin-top: 25px;
    }
}

@media (max-width: 1399.98px) {
    .top-container {
        width: 880px;
        height: 255px;
        margin-top: 20px;
    }

    .shine-button {padding: 4px 15px;}

    .b1 {margin-left: 30px;}

    .b2,
    .b4,
    .b6 {margin: 0px 15px;}

    .name-site {
        width: 528px;
        margin-left: 370px;
    }
}

@media (max-width: 1199.98px) {
    .top-container {
        width: 780px;
        margin-top: 25px;
    }

    .shine-button {padding: 3px 10px;}

    .b1 {margin-left: 23px;}

    .b2,
    .b4,
    .b6 {margin: 0px 10px;}

    .name-site {
        width: 428px;
        margin-left: 370px;
    }
}

@media (max-width: 991.98px) {
    .top-container {
        width: 680px;
        height: 250px;
        margin-top: 25px;
    }

    .shine-button {
        padding: 2px 8px;
        font-size: 14px;
    }

    .b1 {margin-left: 17px;}

    .b2,
    .b4,
    .b6 {margin: 0px 5px;}

    .fox {margin-left: 75px;}

    .name-site {
        width: 390px;
        margin-left: 310px;
    }
}

@media (max-width: 787.98px) {
    .top-container {
        width: 580px;
        margin-top: 25px;
    }

    .shine-button {
        padding: 3px 8px;
        font-size: 12px;
    }

    .b1 {
        margin: 15px 0px;
        margin-left: 8px;
    }

    .b2,
    .b4,
    .b6 {margin: 0px 3px;}

    .fox {
        margin-top: -20px;
        margin-left: 70px;
    }

    .name-site {
        width: 320px;
        margin-left: 280px;
    }
}

@media (max-width: 695.98px) {
    .top-container {
        width: 480px;
        height: 320px;
        margin-top: -27px;
    }

    .container {display: inline;}

    .shine-button {display: none;}

    .fox {
        margin-top: 0px;
        margin-left: 50%;
        transform: translate(-50%, 0%);
    }

    .name-site {
        width: 390px;
        height: 70px;
        margin-top: 0px;
        margin-left: 50%;
        transform: translate(-50%, -5%);
        padding-top: 5px;
    }

    .lower label{
        width: 60px;
        height: 60px;
        position: fixed;
        left: 15px;
        top: 15px;
        border-radius: 80px;
        z-index: 300;
    }

    .menu-mobile {
        width: 60px;
        height: 60px;
        position: fixed;
        left: 15px;
        top: 15px;
        background: #FFDE5F;
        border-radius: 80px;
        z-index: 200;
    }

    .menu-mobile span,
    .menu-mobile span::before,
    .menu-mobile span::after {
        position: fixed;
        top: 45px; 
        margin-top: -1px;
        left: 43px; 
        margin-left: -10px;
        border-radius: 20px;
        width: 25px;
        height: 3px;
        z-index: 300;
        background-color: #000;
    }

    .menu-mobile span::before,
    .menu-mobile span::after {
        content: '';
        display: block;
        transition: 0.2s;
    }

    .menu-mobile span::before {transform: translateY(-9px);}

    .menu-mobile span::after {transform: translateY(9px);}

    #op:checked~.menu-mobile span {
        height: 0%;
        transition: 0.1s;
    }

    #op:checked~.menu-mobile span:before {
        transform: rotate(-45deg);
        width: 25px;
    }

    #op:checked~.menu-mobile span:after {
        transform: rotate(45deg);
        width: 25px;
    }
    
    #op {display: none;}
    
    .lower label:hover {cursor: pointer;}
    
    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.9);
        z-index: 100;
    }
    
    .overlay label {
        width: 60px;
        height: 60px;
        position: absolute;
        content: '';
        left: 20px;
        top: 20px;
        border-radius: 80px;
        z-index: 100;
        cursor: pointer;
    }
    
    .overlay nav {
        text-align: center;
        position: relative;
        top: 50%;
        height: 30%;
        font-size: 20px;
        transform: translateY(-50%);
    }
    
    .overlay ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        height: 100%;
        position: relative;
    }
    
    .overlay ul li {
        display: block;
        height: 20%;
        height: calc(100% / 6);
        min-height: 54px;
    }
    
    .overlay ul li a {
        font-weight: 300;
        color: #fff;
        text-decoration: none;
        transition: color 0.2s;
        font-family: 'Arial';
        font-weight: bold;
        text-transform: uppercase;
    }

    .overlay ul li .i3 {color: #FFDE5F;}
    
    .overlay ul li a:hover,
    .overlay ul li a:focus {color: #FFDE5F;}
    
    .lower~.overlay-hugeinc{
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s, visibility 0s 0.5s;
    }
    
    #op:checked~.overlay-hugeinc{
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s;
    }
    
    .overlay-hugeinc nav ul {
        opacity: 0.4;
        transform: translateY(-25%) rotateX(35deg);
        transition: transform 0.5s, opacity 0.5s;
    }
    
    #op:checked~.overlay-hugeinc nav ul {
        opacity: 1;
        transform: rotateX(0deg);
    }
    
    #op:not(:checked)~.overlay-hugeinc nav ul {transform: translateY(25%) rotateX(-35deg);}
}

@media (max-width: 505.98px) {
    .top-container {
        width: 100%;
        height: 320px;
        margin-top: -27px;
    }

    .shine-button {display: none;}
}

@media (max-width: 399.98px) {
    .top-container {margin-top: -27px;}
    
    .name-site {
        width: 64%;
        height: 60px;
        font-size: 33px;
        padding-left: 5px;
    }
}

/*--------------------------cent-container----------------------------*/

@media (max-width: 10099.98px) {
    .cent-container {
        width: 980px;
        margin: 50%;
        transform: translate(-50%, 0%);
        background: #0E1821;
        border-radius:  20px 20px 0 0;
    }

    .content {padding: 30px 5% 30px 5%;}
  
    .s1 {
        font-size: 30px;
        font-family: 'Arial', sans-serif;
        color: #FFDE5F;
    }

    .line {
        width: 100%;
        height: 3px;
        background: #567B96;
    }
  
    form {
        color: #fff;
        font-size: 18px;
        font-family: "Arial";
    }
    
    blockquote {
        padding-left: 5%;
        padding-top: 10px;
        padding-bottom: 5px;
    }
    
    p {
        text-align: center;
        font-size: 15px;
        margin-bottom: 0;
    }

    input {
        background-color: #fff;
    }
    
    input:hover {
        background-color: #FFDE5F;
    }
    
    .but {
        height: 30px;
        border-radius: 15px;
    }
}

@media (max-width: 1699.98px) {
    .cent-container {width: 980px;}
}

@media (max-width: 1399.98px) {
    .cent-container {width: 880px;}
}

@media (max-width: 1199.98px) {
    .cent-container {width: 780px;}
}

@media (max-width: 991.98px) {
    .cent-container {width: 680px;}
}

@media (max-width: 787.98px) {
    .cent-container {width: 580px;}
}

@media (max-width: 695.98px) {
    .cent-container {width: 480px;}

    form {font-size: 16px;}

}

@media (max-width: 505.98px) {
    .cent-container {width: 100%;}
}

@media (max-width: 399.98px) {
}

/*--------------------------cent-cont----------------------------*/

@media (max-width: 10099.98px) {
    .cent-cont {
        width: 980px;
        margin: 50%;
        transform: translate(-50%, 0%);
        background: #fff;
        border-radius: 0 0 20px 20px;
    }

    .content2 {padding: 10px 2% 10px 2%;}
    
    .line {
        width: 100%;
        height: 3px;
        background: #567B96;
    }

    .left,
    .right {font-size: 18px;}

    .right {
        float: right;
        padding-top: 2px;
    }
}

@media (max-width: 1699.98px) {
    .cent-cont {width: 980px;}
}

@media (max-width: 1399.98px) {
    .cent-cont {width: 880px;}
}

@media (max-width: 1199.98px) {
    .cent-cont {width: 780px;}
}

@media (max-width: 991.98px) {
    .cent-cont {width: 680px;}
}

@media (max-width: 787.98px) {
    .cent-cont {width: 580px;}
}

@media (max-width: 695.98px) {
    .cent-cont {width: 480px;}
}

@media (max-width: 505.98px) {
    .cent-cont {width: 100%;}
}

@media (max-width: 399.98px) {
    .left,
    .right {font-size: 14px;}
}

/*--------------------------bot-container----------------------------*/

@media (max-width: 10099.98px) {
    .bot-container {
        width: 980px;
        margin: 50%;
        transform: translate(-50%, 10%);
        background: #0E1821;
        border-radius: 20px;
        text-align: center;
    }

    .content3 {padding: 20px 2% 20px 2%;}
  
    .cop {
        font-family: 'Arial', sans-serif;
        font-size: 15px;
        color: #8293A1;
    } 

    .i1, .i2 {
        width: 30px;
        height: 30px;
        margin: 0px;
    }
}

@media (max-width: 1699.98px) {
}

@media (max-width: 1399.98px) {
    .bot-container {width: 880px;}
}

@media (max-width: 1199.98px) {
    .bot-container {width: 780px;}
}

@media (max-width: 991.98px) {
    .bot-container {width: 680px;}
}

@media (max-width: 787.98px) {
    .bot-container {width: 580px;}
}

@media (max-width: 695.98px) {
    .bot-container {width: 480px;}
}

@media (max-width: 505.98px) {
    .bot-container {width: 100%;}
}