/*--------------------------top-container----------------------------*/

@media (max-width: 10099.98px) {
    .b2 {background: #FFDE5F;}
}

@media (max-width: 695.98px) {
    .overlay ul li .i2 {color: #FFDE5F;}
}

/*--------------------------cent-container----------------------------*/

@media (max-width: 10099.98px) {
    .cent-container {border-radius: 20px 20px 0 0;}

    .content {padding: 30px 5% 30px 5%;}
  
    .s1 {
        font-size: 30px;
        font-family: 'Arial', sans-serif;
        color: #e0d434;
    }
  
    .line {
        width: 100%;
        height: 3px;
        background: #567B96;
    }

    .l1 {height: 2px;}

    .s2 {
        font-size: 18px;
        font-family: 'Arial';
        color: #fff;
    }

    .s3 {
        padding-left: 15px;
        font-size: 20px;
        color: #e0d434;
    }

    .bl {display: inline-flex;}

    .bl1 {padding: 0 5% 0 5%;}

    .tabl1 {
        width: 500px;
        height: 100px; 
        margin: 0 5% 0 5%;
        font-size: 16px;
        color: #fff;
        border: 2px solid #fff; 
        border-bottom: #fff; 
        border-collapse: collapse;
    }
    
    .tabl1 td {
        padding: 0 6px 0 6px;
        border: 1px solid #fff;
    }

    .tabl2 {
        width: 200px;
        color: #fff;
        margin: 0 5% 0 5%;
        font-size: 16px;
        text-align: center;
        border: 2px solid #fff; 
        border-collapse: collapse; 
    }

    .tabl2 td {border: 1px solid #fff;}

    .images {
        width: 100px; 
        height: 40px;
    }
}

@media (max-width: 695.98px) {
    .s1 {font-size: 25px;}

    .s2 {font-size: 16px;}

    .tabl1 {
        width: 100%;
        margin: 0;
        font-size: 14px;
    }

    .tabl2 {font-size: 14px;}

    .images {width: 100%;}
}

@media (max-width: 399.98px) {
    .s2 {font-size: 14px;}

    .im1 {width: 100%;}

    .bl1 {padding: 0 5% 0 0 ;}

    .tabl1,
    .tabl2 {font-size: 12px;}
}

/*--------------------------bot-container----------------------------*/

@media (max-width: 10099.98px) {
    .content3 {padding: 20px 2% 20px 2%;}
}