/*--------------------------top-container----------------------------*/

@media (max-width: 10099.98px) {
    .b4 {background: #FFDE5F;}
}

@media (max-width: 695.98px) {
    .overlay ul li .i4 {color: #FFDE5F;}
}

/*--------------------------cent-container----------------------------*/

@media (max-width: 10099.98px) {
    .cent-container {border-radius: 20px 20px 0 0;}

    .content {padding: 30px 5% 30px 5%;}
  
    .s1 {
        font-size: 30px;
        font-family: 'Arial', sans-serif;
        color: #e0d434;
    }
  
    .line {
        width: 100%;
        height: 3px;
        background: #567B96;
    }

    .s2 {
        font-size: 18px;
        font-family: 'Arial';
        color: #fff;
    }

    .pre {
        float: right;
    }

    .im6 {width: 90px;}
}

@media (max-width: 1399.98px) {
    .im3 {width: 70%;}
}

@media (max-width: 1199.98px) {
    
}

@media (max-width: 991.98px) {
    .im5 {width: 85%;}
}

@media (max-width: 787.98px) {
    .im4 {width: 85%;}
}

@media (max-width: 695.98px) {
    .s1 {font-size: 25px;}

    .s2 {font-size: 16px;}

    .im1,
    .im2 {width: 70%;}
}

@media (max-width: 505.98px) {
    .im3,
    .im4 {width: 97%;}
}

@media (max-width: 399.98px) {
    .s2 {font-size: 14px;}
}

/*--------------------------bot-container----------------------------*/

@media (max-width: 10099.98px) {
    .content3 {padding: 20px 2% 20px 2%;}
}